<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOG.PATTERN"
			  value="%d{yyyy-MM-dd HH:mm:ss SSS,GMT+8}  %M  [%X{X-B3-TraceId:-},%X{X-B3-SpanId:-}][%thread] %-5level %logger{50} - %msg%n" />

	<!-- 控制台输出 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- 日志输出编码 --> 
		<encoder charset="UTF-8">
			<!--格式化输出：%d表示日期,%-5level级别从左显示5个字符宽度,%msg：日志消息,%n是换行符-->
			<pattern>${LOG.PATTERN}</pattern>
		</encoder>
	</appender>

	<!-- 自定义日志写入方式和格式 -->
	<appender name="esLog" class="com.cn.xmf.config.XmfLogAppender">
		<subSysName>wechat-api</subSysName><!-- 系统名称 -->
	</appender>
	<!-- 按照每天生成日志文件 --> 
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/opt/mnt_file/logs/xmf_log_wechat-api.log</file><!--log4j.config.path-->
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--日志文件输出的文件名-->
			<fileNamePattern>/opt/mnt_file/logs/xmf_log_wechat-api-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<!--日志文件最大的大小 --> 
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>30857600</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!--日志文件保留天数 -->
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>
		<encoder>
			<ImmediateFlush>false</ImmediateFlush>
			<pattern>${LOG.PATTERN}</pattern>
			<charset class="java.nio.charset.Charset">UTF-8</charset>
		</encoder>
	</appender>

	<!-- 日志输出级别 -->
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="esLog" />
		<!--<appender-ref ref="FILE" />-->
	</root>
</configuration> 